body {
     background-image: url("../images/NR-Holder-BG.jpg");
     background-repeat: repeat;
     margin: 0;
     padding: 0;
}
.carousel {
    background-color: rgba(0,0,0,0);
    position: relative;
    z-index: 1;
    margin: auto auto;

}
.carousel-img {
    width: 100%;
    min-width: 1000px;
}
.logo {
    width: 18%;
    position: absolute;
    left: 40%;
    top: 28px;
    z-index: 3;
}
.main-div {
    background-color: white;
    min-height: 2000px;
    width: 990px;
    margin: auto auto;
    position: relative;
    z-index: 2;
    margin-top: -78px;
    border: 5px solid black;
}
.locations {
    border-bottom: 5px solid black;
    height: 65px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.locations img {
    margin-top: 25px;
    margin-left: 15px;
}

.categories {
    height: 175px;
    width: 100%;
    border-bottom: 5px solid black;
}
.category {
    width: 168px;
    height: 150px;
    display: inline-block;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    float: right;
    padding: 0;

}
.category img {
    margin: 14px auto;
    position: relative;
    display: block;

}
.edibles img {
    margin-top: 20px;
}
.category p {
    background-color: black;
    color: white;
    font-size: 16pt;
    height: 25px;
    bottom: 1818px;
    width: 170px;
    padding-top: 2px;
    margin: 0;
    text-align: center;
    position: absolute;
    z-index: 2;
}
.category-name {
    width: 692px;
    margin-left: 298px;
    background-color: black;
    height: 20px;
    margin-top: -27px;
}
.category-name img {
    margin: 1px 0 0 50px;
}
.variety {
    width: 280px;
    height: 164px;
    margin: 18px auto auto 7px;
    display: inline-block;
    text-align: center;

}
.variety p {

    font-size: 50pt;
    margin: 2px auto;
    margin-bottom: 0;

}
.how-to {
    width: 400px;
    display: inline-block;
    margin: 0 0 0 -9px;
    padding: 0;
    height: 325px;
    border-left: 5px solid black;
}
.how-to img {
    margin-left: 25px;
    margin-top: 18px;
    display: block;
}

.video-line {
    width: 100%;
    height: 325px;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 5px solid black;
}
.video {
    width: 560px;
    height: 325px;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-right: 5px solid black;
}
.tree-house {
    width: 100%;
    height: 223px;
    border-bottom: 5px solid black;
}
.tree-house img {
    width: 990px
}
.store {
    width: 326px;
    height: 330px;
    position: relative;
    display: inline-block;
    margin: 0;
}
.footer {
    height: 255px;
    width: 100%;
    border-top: 5px solid black;
    margin-top: -4px;
}
.footer-header {
    height: 60px;
    width: 100%;
    border-bottom: 5px solid black;
    vertical-align: middle;
}
.affiliates {
    width: 765px;
    height: 100%;
    border-right: 5px solid black;
    display: inline-block;
    font-size: 20pt;
    margin-left: 20px;
    vertical-align: middle;

}
.affiliates img {
    margin: 10px 0 0 5px;
}
.contact {
    width: 195px;
    height: 100%;
    display: inline-block;
    font-size: 20pt;
    text-align: center;
}
.store-info {
    height: 85px;
    width: 330px;
    border-bottom: 5px solid black;
}
.store-address {
    height: 85px;
    border-right: 5px solid black;
    width: 185px;
}
.store-footer {
    background-color: black;
    color: white;
    font-size: 16pt;
    width: 330px;
    height: 55px;
    position: relative;
    z-index: 2;
    margin: 0;
}
