body {
     background-image: url("../images/NR-Holder-BG.jpg");
     background-repeat: repeat;
     margin: 0;
     padding: 0;
}
.carousel {
    background-color: rgba(0,0,0,0);
    position: relative;
    z-index: 1;
    margin: auto auto;
    overflow: hidden;

}
.panes {
    list-style: none;
    position: relative;
    width: 500%;
    overflow: hidden;
    padding: 0;
    margin: 0;

    -moz-animation: carousel 30s infinite;
    -webkit-animation: carousel 30s infinite;
    animation: carousel 30s infinite;
}
.panes > li {
    position: relative;
    float: left;
    width: 20%; /* 100 / number of panes */
}
.panes img {
    display: block;
    width: 100%;
    min-width: 1000px;
}
.logo {
    width: 18%;
    position: absolute;
    left: 40%;
    top: 4%;
    max-width: 300px;
    min-width: 100px;
    z-index: 3;
}
.main-div {
    background-color: white;
    min-height: 2000px;
    width: 990px;
    margin: auto auto;
    position: relative;
    z-index: 2;
    margin-top: -74px;
    border: 5px solid black;
}
.locations {
    border-bottom: 5px solid black;
    height: 65px;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.locations img {
    margin-top: 25px;
    margin-left: 15px;
}

.categories {
    height: 175px;
    width: 100%;
    border-bottom: 5px solid black;
}
.category {
    width: 168px;
    height: 150px;
    display: inline-block;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    float: right;
    padding: 0;

}
.category img {
    margin: 14px auto;
    position: relative;
    display: block;

}
.edibles img {
    margin-top: 20px;
}
.category p {
    background-color: black;
    color: white;
    font-size: 16pt;
    height: 25px;
    bottom: 1818px;
    width: 170px;
    padding-top: 2px;
    margin: 0;
    text-align: center;
    position: absolute;
    z-index: 2;
}
.category-name {
    width: 692px;
    margin-left: 298px;
    background-color: black;
    height: 20px;
    margin-top: -27px;
}
.category-name img {
    margin: 1px 0 0 50px;
}
.variety {
    width: 280px;
    height: 164px;
    margin: 18px auto auto 7px;
    display: inline-block;
    text-align: center;

}
.variety p {

    font-size: 50pt;
    margin: 2px auto;
    margin-bottom: 0;

}
.how-to {
    width: 400px;
    display: inline-block;
    margin: 0 0 0 -9px;
    padding: 0;
    height: 325px;
    border-left: 5px solid black;
}
.how-to img {
    margin-left: 25px;
    margin-top: 18px;
    display: block;
}

.video-line {
    width: 100%;
    height: 325px;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 5px solid black;
}
.video {
    width: 560px;
    height: 325px;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-right: 5px solid black;
}
.tree-house {
    width: 100%;
    height: 223px;
    border-bottom: 5px solid black;
}
.tree-house img {
    width: 990px
}
.store {
    width: 326px;
    height: 324px;
    position: relative;
    display: inline-block;
    margin: 0 0 -4px 0;
}
.stores {
    height: 976px;
}
.store img {
    margin: 18px 0 -4px -2px;
    display: block;
}
.store:hover::after {
    display: none;
}
.store::after {
    content: '';
    position: absolute;
    margin-right: -3px;
    width: 330px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
}

.store-aspen::after {
    background-image: url(../images/hover_aspen.png);
}
.store-boulder-rec::after {
    background-image: url(../images/hover_boulder_rec.png);
}
.store-boulder-med::after {
    background-image: url(../images/hover_boulder_medical.png);
}
.store-coming-soon::after {
    background-image: url(../images/hover_coming_soon.png);
}
.store-denver::after {
    background-image: url(../images/hover_denver.png);
}
.store-eagle-vail::after {
    background-image: url(../images/hover_eagle_vail.png);
}
.store-frisco::after {
    background-image: url(../images/hover_frisco.png);
}
.store-longmont::after {
    background-image: url(../images/hover_longmont.png);
}
.store-south-denver::after {
    background-image: url(../images/hover_south_denver.png);
}

.footer {
    height: 255px;
    width: 100%;
    border-top: 5px solid black;
    margin-top: -4px;
}
.footer-header {
    height: 60px;
    width: 100%;
    border-bottom: 5px solid black;
    vertical-align: middle;
}
.affiliates-header {
    width: 760px;
    height: 100%;
    border-right: 5px solid black;
    display: inline-block;
    font-size: 20pt;
    margin-left: 20px;
    vertical-align: middle;
    margin: -52px 0 0 20px;

}
.affiliates-header img {
    margin: 15px 0 0 0;
}
.affiliates {
    width: 780px;
    height: 190px;
    border-right: 5px solid black;
    margin: -16px 0 0 0;
}
.contact-header {
    width: 195px;
    height: 100%;
    display: inline-block;
}
.contact-header img {
    margin: 15px 0 0 12px;
    display: block;
}
.contact {
    position: absolute;
    bottom: 18px;
    left: 790px;
    width: 200px;
}
.contact form {
    margin-left: 11px;
}
.contact input {
    width: 170px;
    height: 18px;
    background-color: #BBB;
    border: none;
}
.contact img {
    margin: 6px 0 2px 0;
}
.contact button {
    margin: 14px 0 0 61px;
    background-image: url('../images/contact_us_btn.png');
    background-color: transparent;
    width: 111px;
    height: 23px;
    border: none;
}
.store-info {
    height: 85px;
    width: 330px;
    border-bottom: 5px solid black;
}
.store-address {
    height: 85px;
    border-right: 5px solid black;
    width: 185px;
}
.store-footer {
    background-color: black;
    color: white;
    font-size: 16pt;
    width: 330px;
    height: 55px;
    position: relative;
    z-index: 2;
    margin: 0;
}
.more {
    width: 100%;
    height: 190px;
}
.affiliates li {
    float: left;
    list-style: none;
}
.affiliates img {
    width: 50%;
    margin: 17px 0 0 0;
}

@-webkit-keyframes carousel{
    0%    { left: 0; }
    11%   { left: 0; }
    12.5% { left: -100%; }
    23.5% { left: -100%; }
    25%   { left: -200%; }
    36%   { left: -200%; }
    37.5% { left: -300%; }
    48.5% { left: -300%; }
    50%   { left: -400%; }
    61%   { left: -400%; }
    62.5% { left: -300%; }
    73.5% { left: -300%; }
    75%   { left: -200%; }
    86%   { left: -200%; }
    87.5% { left: -100%; }
    98.5% { left: -100%; }
    100%  { left: 0; }
}
@-moz-keyframes carousel{
    0%    { left: 0; }
    11%   { left: 0; }
    12.5% { left: -100%; }
    23.5% { left: -100%; }
    25%   { left: -200%; }
    36%   { left: -200%; }
    37.5% { left: -300%; }
    48.5% { left: -300%; }
    50%   { left: -400%; }
    61%   { left: -400%; }
    62.5% { left: -300%; }
    73.5% { left: -300%; }
    75%   { left: -200%; }
    86%   { left: -200%; }
    87.5% { left: -100%; }
    98.5% { left: -100%; }
    100%  { left: 0; }
}
@keyframes carousel{
    0%    { left: 0; }
    11%   { left: 0; }
    12.5% { left: -100%; }
    23.5% { left: -100%; }
    25%   { left: -200%; }
    36%   { left: -200%; }
    37.5% { left: -300%; }
    48.5% { left: -300%; }
    50%   { left: -400%; }
    61%   { left: -400%; }
    62.5% { left: -300%; }
    73.5% { left: -300%; }
    75%   { left: -200%; }
    86%   { left: -200%; }
    87.5% { left: -100%; }
    98.5% { left: -100%; }
    100%  { left: 0; }
}
