body {
     background-image: url("../images/NR-Holder-BG.jpg");
     background-repeat: repeat;
     margin: 0;
     padding: 0;
}
.carousel {
    background-color: rgba(0,0,0,0);
    position: relative;
    z-index: 1;
    margin: auto auto;
    overflow: hidden;

}
.panes {
    list-style: none;
    position: relative;
    width: 1000%;
    overflow: hidden;
    padding: 0;
    margin: 0;

    -moz-animation: carousel 90s infinite;
    -webkit-animation: carousel 90s infinite;
    animation: carousel 90s infinite;
}
.panes > li {
    position: relative;
    float: left;
    width: 10%; /* 100 / number of panes */
}
.panes img {
    display: block;
    width: 100%;
    min-width: 1000px;
    max-height: 650px;
}
.logo {
    width: 18%;
    position: absolute;
    left: 41%;
    top: 4%;
    max-width: 300px;
    min-width: 100px;
    z-index: 3;
}
.main-div {
    background-color: white;
    min-height: 2000px;
    width: 990px;
    margin: auto auto;
    position: relative;
    z-index: 2;
    margin-top: -74px;
    border: 5px solid black;
}
.locations {
    border-bottom: 5px solid black;
    height: 65px;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.locations img {
    margin-top: 25px;
    margin-left: 15px;
}

.categories {
    height: 175px;
    width: 100%;
    border-bottom: 5px solid black;
}
.category {
    width: 168px;
    height: 150px;
    display: inline-block;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    float: right;
    padding: 0;

}
.category img {
    margin: 14px auto;
    position: relative;
    display: block;

}
.edibles img {
    margin-top: 20px;
}
.category p {
    background-color: black;
    color: white;
    font-size: 16pt;
    height: 25px;
    bottom: 1818px;
    width: 170px;
    padding-top: 2px;
    margin: 0;
    text-align: center;
    position: absolute;
    z-index: 2;
}
.category-name {
    width: 692px;
    margin-left: 298px;
    background-color: black;
    height: 20px;
    margin-top: -27px;
}
.category-name img {
    margin: 1px 0 0 50px;
}
.variety {
    width: 280px;
    height: 164px;
    margin: 18px auto auto 7px;
    display: inline-block;
    text-align: center;

}
.variety p {

    font-size: 50pt;
    margin: 2px auto;
    margin-bottom: 0;

}
.how-to {
    width: 400px;
    display: inline-block;
    margin: 0 0 0 -9px;
    padding: 0;
    height: 325px;
    border-left: 5px solid black;
}
.how-to img {
    margin-left: 25px;
    margin-top: 18px;
    display: block;
}

.video-line {
    width: 100%;
    height: 325px;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 5px solid black;
}
.video {
    width: 560px;
    height: 325px;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-right: 5px solid black;
}
.tree-house {
    width: 100%;
    height: 223px;
    display: inline-block;
    border-bottom: 5px solid black;
}
.store {
    width: 326px;
    height: 324px;
    position: relative;
    display: inline-block;
    margin: 0 0 -4px 0;
    cursor: pointer;
}
.stores {
    height: 976px;
}
.store img {
    margin: 18px 0 -4px -2px;
    display: block;
}
.store:hover::after, .store:active::after {
    display: none;
}
.store::after {
    content: '';
    position: absolute;
    margin-right: -3px;
    width: 330px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    cursor: pointer;
}

.store-aspen::after {
    background-image: url(../images/hover_aspen.png);
}
.store-boulder-rec::after {
    background-image: url(../images/hover_boulder_rec.png);
}
.store-boulder-med::after {
    background-image: url(../images/hover_boulder_medical.png);
}
.store-coming-soon::after {
    background-image: url(../images/hover_coming_soon.png);
}
.store-denver::after {
    background-image: url(../images/hover_denver.png);
}
.store-eagle-vail::after {
    background-image: url(../images/hover_eagle_vail.png);
}
.store-frisco::after {
    background-image: url(../images/hover_frisco.png);
}
.store-longmont::after {
    background-image: url(../images/hover_longmont.png);
}
.store-south-denver::after {
    background-image: url(../images/hover_south_denver.png);
}

.footer {
    height: 255px;
    width: 100%;
    border-top: 5px solid black;
    margin-top: -4px;
}
.footer-header {
    height: 60px;
    width: 100%;
    border-bottom: 5px solid black;
    vertical-align: middle;
}
.affiliates-header {
    width: 760px;
    height: 100%;
    border-right: 5px solid black;
    display: inline-block;
    font-size: 20pt;
    margin-left: 20px;
    vertical-align: middle;
    margin: -52px 0 0 20px;

}
.affiliates-header img {
    margin: 15px 0 0 0;
}
.affiliates {
    width: 780px;
    height: 190px;
    border-right: 5px solid black;
    margin: -16px 0 0 0;
}
.contact-header {
    width: 195px;
    height: 100%;
    display: inline-block;
}
.contact-header img {
    margin: 15px 0 0 12px;
    display: block;
}
.contact {
    position: absolute;
    bottom: 18px;
    left: 790px;
    width: 200px;
}
.contact form {
    margin-left: 11px;
}
.contact input {
    width: 166px;
    height: 18px;
    color: #f3f3f3;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #BBB;
    border: none;
}
input.name {
    text-transform: capitalize;
}
input.email {
    text-transform: lowercase;
}
.contact img {
    margin: 6px 0 2px 0;
}
.contact button {
    margin: 14px 0 0 61px;
    background-image: url('../images/contact_us_btn.png');
    background-color: transparent;
    width: 111px;
    height: 23px;
    border: none;
}
.more {
    width: 100%;
    height: 190px;
}
.affiliates li {
    float: left;
    list-style: none;
    width: 175px;
}
.affiliates img {
    width: 40%;
    margin: 12px 0 0 42px;
}
.imedicate {
    margin: 33px 0 0 25px !important;
    width: 120px !important;
}
.n-pen {
    width: 20% !important;
    margin: 12px 0 0 233px !important;
}
.foria {
    width: 69% !important;
    margin: 3px 0 0 112px !important;
}
.age {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;

}
.age-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 101;
}
.age-content {
    position: relative;
    width: 450px;
    margin: auto auto;
    margin-top: 15%;
    padding: 40px;
    background-color: rgba(0,0,0,.9);
    z-index: 102;
    color: rgba(255,255,255,.9);
    font-family: "Open Sans";
    border: 1px solid #333;
}
.age-content button {
    background-color: green;
    border: none;
    width: 100px;
    height: 30px;
    margin: 20px 7px 0 7px;
    font-size: 12pt;
    color: rgba(255,255,255,.7);
    font-family: "Open Sans";
}
.age-logo {
    width: 100px;
}
.banner {
    width: 870px;
    display: block;
}

@-webkit-keyframes carousel{
    0%   { left: 0; }
    4%   { left: 0; }
    5%   { left: -100%; }
    9%   { left: -100%; }
    10%  { left: -200%; }
    14%  { left: -200%; }
    15%  { left: -300%; }
    19%  { left: -300%; }
    20%  { left: -400%; }
    24%  { left: -400%; }
    25%  { left: -500%; }
    29%  { left: -500%; }
    30%  { left: -600%; }
    34%  { left: -600%; }
    35%  { left: -700%; }
    39%  { left: -700%; }
    40%  { left: -800%; }
    44%  { left: -800%; }
    45%  { left: -900%; }
    49%  { left: -900%; }
    50%  { left: -800%; }
    54%  { left: -800%; }
    55%  { left: -700%; }
    59%  { left: -700%; }
    60%  { left: -600%; }
    64%  { left: -600%; }
    65%  { left: -500%; }
    69%  { left: -500%; }
    70%  { left: -400%; }
    75%  { left: -400%; }
    76%  { left: -300%; }
    81%  { left: -300%; }
    82%  { left: -200%; }
    87%  { left: -200%; }
    88%  { left: -100%; }
    99%  { left: -100%; }
    100% { left: 0; }
}
@-moz-keyframes carousel{
    0%   { left: 0; }
    4%   { left: 0; }
    5%   { left: -100%; }
    9%   { left: -100%; }
    10%  { left: -200%; }
    14%  { left: -200%; }
    15%  { left: -300%; }
    19%  { left: -300%; }
    20%  { left: -400%; }
    24%  { left: -400%; }
    25%  { left: -500%; }
    29%  { left: -500%; }
    30%  { left: -600%; }
    34%  { left: -600%; }
    35%  { left: -700%; }
    39%  { left: -700%; }
    40%  { left: -800%; }
    44%  { left: -800%; }
    45%  { left: -900%; }
    49%  { left: -900%; }
    50%  { left: -800%; }
    54%  { left: -800%; }
    55%  { left: -700%; }
    59%  { left: -700%; }
    60%  { left: -600%; }
    64%  { left: -600%; }
    65%  { left: -500%; }
    69%  { left: -500%; }
    70%  { left: -400%; }
    75%  { left: -400%; }
    76%  { left: -300%; }
    81%  { left: -300%; }
    82%  { left: -200%; }
    87%  { left: -200%; }
    88%  { left: -100%; }
    99%  { left: -100%; }
    100% { left: 0; }
}
@keyframes carousel{
    0%   { left: 0; }
    4%   { left: 0; }
    5%   { left: -100%; }
    9%   { left: -100%; }
    10%  { left: -200%; }
    14%  { left: -200%; }
    15%  { left: -300%; }
    19%  { left: -300%; }
    20%  { left: -400%; }
    24%  { left: -400%; }
    25%  { left: -500%; }
    29%  { left: -500%; }
    30%  { left: -600%; }
    34%  { left: -600%; }
    35%  { left: -700%; }
    39%  { left: -700%; }
    40%  { left: -800%; }
    44%  { left: -800%; }
    45%  { left: -900%; }
    49%  { left: -900%; }
    50%  { left: -800%; }
    54%  { left: -800%; }
    55%  { left: -700%; }
    59%  { left: -700%; }
    60%  { left: -600%; }
    64%  { left: -600%; }
    65%  { left: -500%; }
    69%  { left: -500%; }
    70%  { left: -400%; }
    75%  { left: -400%; }
    76%  { left: -300%; }
    81%  { left: -300%; }
    82%  { left: -200%; }
    87%  { left: -200%; }
    88%  { left: -100%; }
    99%  { left: -100%; }
    100% { left: 0; }
}
